// Text color
$color-text: #212529;

// Projects colors
$color-boe: #2078ff;
$color-indultometro: #875cc3;
$color-eell: #ffb114;
$color-medicamentalia: #08a6bf;
$color-qclo: #ff7550;
$color-qm: #18dfa1;
$color-tdas: #d3514a;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

// Common chart styles

.chart {
  position: relative;
  font-family: 'Lato', 'Arial', sans-serif;

  svg {
    color: currentColor;
    overflow: visible;
  }

  .axis {
    color: $color-text;

    line {
      shape-rendering: crispEdges;
    }

    &.x {
      text {
        opacity: 0.9;
      }
      .tick line {
        display: none;
      }
    }

    &.y {
      .domain {
        display: none;
      }
      text {
        opacity: 0.6;
      }
      line {
        stroke-opacity: 0.12;
      }
    }
  }

  .line {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .area,
  .bar {
    stroke: none;
    fill: currentColor;
  }

  .area {
    opacity: 0.12;
  }

  .bar,
  .bar-stack-item {
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }

  .treemap-node {
    position: absolute;
    font-size: 13px;
    line-height: 15px;
    z-index: 1;

    > span {
      position: relative;
      top: 3px;
      left: 3px;
      color: $color-text;
      z-index: 2;
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      outline: 1px solid white;
      opacity: 0.65;
    }

    &:hover {
      z-index: 2;

      > div {
        outline-width: 2px;
        opacity: 0.75;
      }
    }
  }

  .tooltip {
    position: absolute;
    color: $color-text;
    font-size: 0.875rem;
    line-height: 1.375em;
    margin-top: -0.75em;
    padding: 0px 10px;
    opacity: 0;
    text-shadow: 1px 0px 6px white, 0px 1px 6px white, -1px 0px 6px white,
      0px -1px 6px white;
    pointer-events: none;

    &.right {
      text-align: right;
    }
  }

  .tooltip-point {
    fill: currentColor;
    stroke: none;
  }
}

// Chart color by project

.elboenuestrodecadadia .chart {
  color: $color-boe;
}
.elindultometro .chart {
  color: $color-indultometro;
}
.espanaenllamas .chart {
  color: $color-eell;
}
.medicamentalia .chart {
  color: $color-medicamentalia;
}
.quiencobralaobra .chart {
  color: $color-qclo;
}
.quienmanda .chart {
  color: $color-qm;
}
.tuderechoasaber .chart {
  color: $color-tdas;
}

// Chart line & area styles

.chart-line,
.chart-area {
  .tooltip .y.label {
    font-weight: 600;
  }
}

// Chart bar vertical styles

.chart-bar-vertical {
  .tooltip {
    padding: 0;
    text-shadow: none;
    margin-top: -1.5em;

    .x.label {
      display: none;
    }
  }
}
